
body{
margin: 0;
padding: 0;
background-color: black;

}
.box{
    /*background-color: deepskyblue;*/
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

#htmlCanvas{
background-color: black;
    /*padding: 100px;*/
    width: 500px;
    height: 500px;
}
#myDiv{
    background-color: black;
    width: 850px;
    height: 500px;
}

