
body{
margin: 0;
padding: 0;
background-color: black;

}
.box{
    /*background-color: deepskyblue;*/
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

#htmlCanvas{
background-color: black;
    /*padding: 100px;*/
    width: 500px;
    height: 500px;
}
/*#recorde-scree{*/
/*    background-color: black;*/
/*    width: 1200px;*/
/*    height: 800px;*/
/*}*/

#myVideo{
    width: 500px;
    height: 500px;
    background-color: #9ab87a;

}

.vjs-icon-record-start>span{
    width: 25px;
    height: 25px;
    background-color: #550000;
    border: 5px solid #550000;
    margin-left: 4px;

    border-radius: 20px;
}
