
body{
margin: 0;
padding: 0;
    background-color: #14171D;

}
.box{
    /*background-color: deepskyblue;*/
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

canvas{

    background-color: #14171D;

}
#myDiv{
    /*background-color: black;*/
    height: 400px;
    width: 600px;
}
